body{
    margin: 0;
    background-color: rgb(22, 22, 23);
}




.panel{
    background-color: rgb(22, 22, 23);
    box-shadow: 1px 2px 20px 2px rgb(95, 19, 19);
    color: rgb(95, 19, 19);
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    background-position: center;
    background-size: cover;
    /*transition: flex 0.7s linear;*/
    transition: flex 0.7s cubic-bezier(.58,0,.29,1.5);
    margin-top: 30px;
    font-family: "Namdhinggo", serif;
    font-size: 25px;
    font-weight: bold;
    -webkit-text-stroke: 0.5px white;
}

.panels{
    min-height: 40vh;
    display: flex;
}




.open{
    flex: 5;
}




.navbar-nav{
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
}

.nav-link, .navbar-brand{
    color: rgb(255, 255, 255) !important;
}

#rotatedNavPic{
    height: 50px;
    width: 50px;
    margin-right: 5px;
    transform: rotateY(3rad);
    margin-top: 6px;
    border-radius: 10px;
}

#NavPic{
    height: 50px;
    width: 50px;
    margin-top: 6px;
    margin-left: 5px;
    border-radius: 10px;
}

a{
    margin-top: 5px;
}




.textHOME{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    justify-content:flex-start;
    color: rgb(255, 255, 255)
}

#homeh1{
    font-family: "Rubik Scribble", system-ui;
    margin-bottom: 20px;
    letter-spacing: 5px;
}

#homeh5{
    font-family: "Rubik Scribble", system-ui;
    letter-spacing: 2px;
}

.HOME{
    display: flex;
    align-items: center;
    justify-self: center;
    margin-top: 200px;
    border: 1px solid rgb(95, 19, 19);
    background-color: rgb(95, 19, 19);
    border-radius: 5px;
    box-shadow: 5px 5px 20px 5px rgb(95, 19, 19);
}

#imgHOME{
    max-width: 200px;
    max-height: auto;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid white;
}





.textABOUT{
    margin-top: 40px;
    border: 1px solid rgb(95, 19, 19);
    height: 300px;
    box-shadow: 5px 3px 20px 3px rgb(95, 19, 19);
}

#abouth1{
    font-family: "Rubik Scribble", system-ui;
    text-align: center;
    color: white;
    margin-top: 10px;
}